/* requirements

color: 
purple & white gradients

code: 
#1972f5 #2b59ff #6440ff #ffffff #f4f6ff #00000066 

logo:
simple text

sections: 
home about teams clients services contact

extra requirements: 
- animations: grid lines 
link: https://www.keywordsearch.com/?utm_source=futurepedia&utm_medium=marketplace&utm_campaign=futurepedia

- photo shadow
- background grey
- button animations

- photo effects, carousel etc.
link: https://markitup.in/ */