:root {
  --light-bg:rgb(228, 235, 249);
  --gradient-bg: linear-gradient(90deg,rgb(223, 186, 244), rgb(160, 104, 206),rgb(112, 41, 212));
  --six: #00000066;
}
body{
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  font-family: outfit,sans-serif;
}
* {
  box-sizing: border-box;
}


/* Header Section*/
header {
  display: flex;
  justify-content:space-around;
  background-color: rgb(228, 235, 249);
  padding: 0px;
}
.logo
{
  font-weight: 1000;
  font-size: 1.8rem;
}
.nav-bar
{

  padding: 35px 0;
}
ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
li
{
  margin: 0rem 2rem;
}
a{
  font-size: 1.8rem;
}
a:hover
{
  background: var(--gradient-bg);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.9rem;
}


/* Main */
.main {
  background-color: #f4f6f6;
}

/* Home */



.home {

  height: 95vh;
  padding: 10rem 0 0 0;
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.home-left
{

  margin: 23px 23px;
  padding: 10rem 2rem;
  font-size: 3.5rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.home-right
{
  margin: 0px;
  padding: 10rem 0rem;
}
.home-right>img
{
  width: 120%;
}
.sevn
{
  background: -webkit-linear-gradient(#fff,rgb(162, 162, 228));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4.5rem;
}
#element
{
  background: -webkit-linear-gradient(#ffffff,rgb(162, 162, 228));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}






/* About */
.about {
  background-color: indigo;
  height: 100vh;
}
/* Teams */
.teams {
  background-color: blue;
  height: 100vh;

}
/* Clients */
.clients {
  background-color: green;
  height: 100vh;
}
/* Services */
.services {
  background-color: yellow;
  height: 100vh;

}
/* Contacts */
.contact {
  background-color: red;
  height: 100vh;

}
